body {
	/*background-color: #fffaf0;*/
	background: url("http://i.imgur.com/Qndmh7X.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	margin:0;
	font-size: 20px;
	min-width: 320px;
	max-width: 768px;
	margin: auto;
}
a {
	text-decoration: none;
}
a:link, a:visited {
    color: inherit;
}
.header {
	padding: 5px;
	text-align: center;
	/*background-color: #7b1fa2;*/
	color: white;
	/*opacity: 0.5;*/
    /*filter: alpha(opacity=50);  For IE8 and earlier */
}

.post-wrapper {
	background-color: white;
	max-width: 40em;
	margin: auto;
}

.post-inner {
  border-top-color: rgba(0, 0, 0, 0.1);
}

.post-wrapper .post-inner {
  background-color: white;
  display: block;
  cursor: pointer;
  overflow: hidden;
  text-decoration: none;
  color: #666666;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.post-wrapper .post {
  background-color: white;
  display: block;
  text-decoration: none;
  color: #666666;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.post-wrapper .post-inner:hover {
  background-color: #f0f2f5;
}

.post-inner h1 {
  font-size: 2em;
  font-weight: 900;
  color: black;
  margin: 0 auto;
}

.post h1 {
  font-size: 2em;
  font-weight: 900;
  color: black;
  margin: 0 auto;
}