{{ partial "header.html" . }}
<section>
<article>
<div class="card-container">
{{ range first 10 .Data.Pages }}
<div class="card">
<a href="{{ .RelPermalink }}">
<div class="post-inner">
<div class="image-wrapper">
{{ if .Params.thumbnail }}
<div class="image">
<img class="constraint-image-size" src="{{ .Params.thumbnail }}" width="100%">
</div>    
{{ end }}

{{ $image := .Resources.ByType "image" }}
{{ with $image }}
<div class="image">
{{ range . }}

<img class="constraint-image-size" src="{{ .RelPermalink }}" width="100%">
{{ end }}
</div>
{{ end }}
</div>
<h1>{{ .Title }}</h1>

{{ .Date.Format "02 Jan 2006" }}
{{ .Summary }}
{{ if .Truncated }}
<hr>
<b>Read More…</b>
{{ end }}
</div>
</a>
</div>
{{- end }}
</div>
</article>
</section>
{{ partial "footer.html" . }}