html {
  position: relative;
  min-height: 100%;
}

body {
	background: url('/imgs/backgroundImg.png');
	font-size: 20px;
  line-height: 1.45;
	min-width: 320px;
  min-height: 100%;
  max-width: 768px;
  height: 100%;
  padding-bottom: 3.2em;
  box-sizing: border-box;
  margin: auto;
}

a {
	text-decoration: none;
}

header {
  margin-top: 1em;
	padding: 5px;
	text-align: right;
	color: white;
}
header span {
  text-align: center;
}

header a:link, header a:visited {
  color: inherit;
}

figure {
  margin: 0;
}

.logo {
  height: 10em;
  width: 10em;
  float: left;
}

.nav {
  box-sizing: border-box;
}

.nav a {
  padding: 0.3em;
  display: inline-block;
}

.nav-home {
  text-align: center;
}

.nav li {
  display: inline-block;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.nav span {
  display: block;
}

.navbar {
  position: relative;
  min-height: 50px;
  margin: 0;
}

.post-wrapper {
  display: block;
	background-color: white;
}

.post-wrapper .post-inner {
  overflow: hidden;
  text-decoration: none;
  color: #666666;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  padding: 1em;
}

.post-wrapper .post {
  background-color: white;
  display: block;
  text-decoration: none;
  color: #666666;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px;
  padding-top: 5em;
}

.post-wrapper .post-inner:hover {
  background-color: #f0f2f5;
}

.post-inner h1 {
  font-size: 2em;
  color: #1258ed;
  margin: 0 auto;
}

.post h1 {
  font-size: 4em;
  color: #1258ed;
  margin: 0 auto;
  text-align: center;
}

.date {
  text-align: right;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  border-top: 1px solid black;
  background-color: rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  text-align: center;
}

foooter a {
  color: yellowgreen;
  font-weight: 800;
}

footer a:visited {
  color: yellowgreen;
  font-weight: 800;  
}