{{ partial "header.html" . }}
<section>
<article>
<div class="post-wrapper padder-1em">
<h1 class="title">{{ .Title }}</h1>
<div class="content">
{{ .Content }}
</div>
<ul style ="list-style: none; display: flex; padding: 3px;">
<li>
<a class="icon" href= {{(.Site.Params.twitter)}}>
<span class="fa-stack fa-lg">
<i class="fa fa-square-o fa-stack-2x"></i>
<i class="fa fa-twitter fa-stack-1x"></i>
</span>Twitter<br>
</a>
</li>
<li>
<a class="icon" href= {{(.Site.Params.linkedIn)}}>
<span class="fa-stack fa-lg">
<i class="fa fa-square-o fa-stack-2x"></i>
<i class="fa fa-linkedin-square fa-stack-1x"></i>
</span>LinkedIn<br>
</a>
</li>
</ul>
</div>
</article>
</section>
<div class="nav nav-home">
<a href="{{ .Site.BaseURL }}">
<i class="fa fa-home fa-2x" aria-hidden="true"></i>
<span>Home</span>
</a>
</div>
{{ partial "footer.html" . }}