{{ partial "header.html" . }}

<section>
<article>
<div class="post-wrapper padder-1em">
<h1 class="title">{{ .Title }}</h1>
</div>
<div class="card-container">
{{ range .Data.Pages }}
<div class="card">
<a href="{{ .RelPermalink }}">
<div class="post-inner">
<div class="image-wrapper">

{{ if .Params.thumbnail }}
<div class="image">
<img class="constraint-image-size" src="{{ .Params.thumbnail }}" width="100%">
</div>    
{{ end }}

{{ $image := .Resources.ByType "image" }}
{{ with $image }}
<div class="image">
{{ range . }}
<img class="constraint-image-size" src="{{ .RelPermalink }}" width="100%">
{{ end }}
</div>
{{ end }}
</div>

<h1>{{ .Title }}</h1>
{{ .Date.Format "02 Jan 2006" }}
{{ .Summary }}
{{ if .Truncated }}
<hr>
<b>Read More…</b>
{{ end }}
</div>
</a>
</div>
{{- end }}
</div>
</article>
</section>

<div class="nav nav-home">
<a href="{{ .Site.BaseURL }}">
<i class="fa fa-home fa-2x" aria-hidden="true"></i>
<span>Home</span>
</a>
</div>

{{ partial "footer.html" . }}