{{ partial "header.html" . }}
<section>
    <article>
        <div class="post-wrapper">
            <div class="post-inner">
                <h1 class="title">{{ .Title }}</h1>
                <div class="content">
                    {{ if eq .Title "SummonTheBox" }}
                    <div class="game" style="max-width:1300px !important">
                        {{ partial "page__unity.html" . }}
                    </div> {{end}} {{ .Content }}
                </div>
            </div>
        </div>
    </article>
</section>
<div class="nav nav-home">
    <a href="{{ .Site.BaseURL }}">
        <i class="fa fa-home fa-2x" aria-hidden="true"></i>
        <span>Home</span>
    </a>
</div>
{{ partial "footer.html" . }}