<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{{ .Title }}</title>
<link rel="stylesheet" type="text/css" href="{{ "css/simpleD.css" | absURL }}" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
<link href="/css/prism.css" rel="stylesheet">
</head>
<body>

<header>

<nav class="navbar">
<ul class="nav navbar">
<li class="pull-left">
<figure>
<a class="text-center" href="{{ .Site.BaseURL }}">
<img class="logo" src="{{ .Site.Params.logoPath }}" alt="logo">
</a>
</figure>
</li>
<div>
<ul>
{{ range $key, $value := .Site.Taxonomies.categories }}
<li>
<a class="text-center" href="/categories/{{ $key | urlize }}">
{{ if eq $key "gamejam" }}
<i class="fa fa-gamepad fa-3x"></i>
{{end}}
{{ if eq $key "legacy" }}
<i class="fa fa-archive fa-3x"></i>
{{end}}
{{ if eq $key "everyday" }}
<i class="fa fa-tasks fa-3x"></i>
{{end}}
{{ if eq $key "study" }}
<i class="fa fa-university fa-3x"></i>
{{end}}
<span>{{ $key | title }}</span>
</li>
</a>
{{ end }}
<li>
<a href="/about/">
<i class="fa fa-question-circle-o fa-3x"></i>
<span>Me</span>
</a>
</li>
</ul>
</div>
</ul>
</nav>

</header>