<script src="{{ .Site.BaseURL }}/assets/unity/{{ .Title }}/TemplateData/UnityProgress.js"></script>
<script src="{{ .Site.BaseURL }}/assets/unity/{{ .Title }}/Build/UnityLoader.js"></script>
<script>
	var gameInstance = UnityLoader.instantiate("gameContainer", "{{ .Site.BaseURL }}/assets/unity/{{ .Title }}/Build/{{ .Params.unityJSON }}.json", { onProgress: UnityProgress });
</script>
<script>
	window.onresize = function (event) {
		var canvas = document.getElementById('#canvas');
		var content = document.getElementById('content');

		canvas.width = content.offsetWidth;
		canvas.height = content.offsetWidth * 0.625;
	}
</script>
</head>

<body>
	<div class="webgl-content">
		<div id="gameContainer" style="width: 100%"></div>